@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

* {
  font-family: 'Rubik';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, #F1A10A 0%, #342303 100%);
  color: #2D2D2D;
  padding-bottom: 5rem;
}
a {
  color: #fff;
  text-decoration: none;
}
#root {
  padding-top: 100px;
}